<header class="flex justify-between py-2 px-4 my-4 mx-auto w-full max-w-2xl rounded-md border border-gray-200">
  <div class="text-3xl font-jacquard">
    journal
  </div>

  <nav class="flex gap-2">
    <%= render(ButtonComponent.new(text: "sign in", size: :small, variant: :secondary)) %>
    <%= render(ButtonComponent.new(text: "sign up", size: :small)) %>
  </nav>
</header>

<section class="my-32 mx-auto max-w-2xl">
  <h1 class="text-9xl text-center font-jacquard">fight back</h1>
  <p class="text-center">add structure to the chaos</p>
</section>
